<div class="container">
  <h1 class="title">Register for an account</h1>
  <h2 class="subtitle">Required fields are marked *</h2>
  <form method="POST" action="/register">
    <div class="field">
      <label for="username">Username *</label>
      <input class="input" type="text" name="username" placeholder="Username" id="username" required minlength="2">
    </div>
    <div class="field">
      <label for="profile">Profile Picture</label>
      <input class="input" type="text" name="profile" placeholder="http://..." id="profile" pattern="https?://.+">
    </div>
    <div class="field">
      <label for="email">Email *</label>
      <input class="input" type="text" name="email" placeholder="Email" id="email" required minlength="2">
    </div>
    <div class="field">
      <label for="password">Password *</label>
      <input class="input" type="password" name="password" placeholder="Password" id="password" required minlength="2">
    </div>
    <div class="field">
      <label for="passwordConfirmation">Password Confirmation *</label>
      <input class="input" type="password" name="passwordConfirmation" placeholder="Password Confirmation" id="passwordConfirmation" required minlength="2">
    </div>
    <button class="button">Register</button>
  </form>
  </div>
