<nav class="footer navbar is-fixed-bottom">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made by <strong><a href="https://suishum.com" target="_blank">Sui Shum</a></strong>.
      </p>
    </div>
  </div>
</nav>
