<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://cdn.playbuzz.com/cdn/76928f47-5f16-4caa-8f9b-0ca5f2cf4cf0/9934dc32-d706-4de3-9dbb-364a3d8d5935.jpg" alt="Posh dog">
      &nbsp; <strong>The Dining Dog</strong>
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/about">About</a>
      <a class="navbar-item" href="/venues">All venues</a>
      <% if(locals.isAuthenticated) { %>
        <a class="navbar-item" href="/venues/new">Add a venue</a>
        <a class="navbar-item" href="/logout">Logout</a>
      <% } else { %>
        <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
      <% } %>
  </div>
  </div>
</nav>
