<main class="container">
  <h1 class="title">The Dining Dog</h1>
  <h2 class="subtitle">Dog friendly dog places for you and your dog</h2>
  <%# <p>Whats the worse thing about going places with your mates?</p>
  <p>Knowing your best mate is at home, unable to join you ):</p> %>

</main>
