<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-center">
      <h1 class="title">Dog Friendly Venues</h1>
      <h2 class="subtitle">For you and ur pup</h2>
    </div>
  </div>
</section>
