<section class="hero is-large homepage">

  <div class="container">
    <h1 class="title">Dog Friendly Food & Drink</h1>
    <h2 class="subtitle">For you and ur pup</h2>
  </div>
  <div class="hero">
    <img src="/images/dining-dogs.jpg" alt="dining frenchies">
  </div>

</section>
