<section class="hero is-large homepage">
  <div class="opacity-layer">
  </div>
  <div class="hero-body">
    <div class="container">
      <h1>The Dining Dog</h1>
      <h2 class="title">Dog Friendly Food & Drink</h2>
      <h3 class="subtitle">For you and your pup</h3>
    </div>
  </div>
</section>
